<title>{{ title }}</title>
<meta charset="utf-8" />
<meta name="description" content="{{ description }}" />
<meta name="keywords" content="{{ keywords }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:locale" content="kk_KZ" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Beyneu library" />
<meta property="og:url" content="https://library.beyneu.kz" />
<meta property="og:site_name" content="Library | Beyneu" />
<!-- <link rel="canonical" href="https://preview.keenthemes.com/metronic8" /> -->
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
{{ assets({files: ['assets/plugins/global/plugins.bundle.css',
							'assets/css/style.bundle.css'],  name: 'main.css'}) }}